#main-nav{
    position: relative;
    z-index: 1; /* Higher z-index value for the nav element */
}

@media only screen and (max-width: 600px) {
    #main-nav,#dropdownContainer {
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }

    
}