.petiteBtn{
    background-color:black;
    color:white;

    transition: background-color 0.3s ease;


    &:hover{
        background-color:$yellow;
        color:black;
    }
}


.badge {
    background-color:$yellow;
    color:black;
    padding: 0.2rem 0.5rem;
    margin: 0.2rem 0.5rem;
    border-radius: 4px;
    display: flex;
    align-items: center;

    .material-icons{
       font-size: 1rem;
       line-height: 1.5!important;
       margin-left: 1rem;
    }

}

.close-icon {
    color:black;
    margin-left: 0.5rem;
    cursor: pointer;
    padding:0.3rem;
    border-radius: 50%;
}