input:focus {
    outline: none!important;
  }

  ::selection{
    color: #fff;
   
  }

  .wrapper{
    width: 195px;
    margin: 1rem;
    position: relative;
    z-index: 7;
  }
  .select-btn, li{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .select-btn{
    height: 65px;
    padding: 0 20px;
    font-size: 1rem;
    background: #fff;
    border-radius: 7px;
    justify-content: space-between;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  }
  .select-btn i{
    font-size: 1.5rem;
    transition: transform 0.3s linear;
  }
  .wrapper.active .select-btn i{
    transform: rotate(-180deg);
  }
  .content{
    display: none;
    position: absolute;
    padding: 20px;
    margin-top: 15px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    z-index: 999;
  }
  .wrapper.active .content{
    display: block;
    
  }
  .content .search{
    position: relative;
  }
  .search i,.clear-search-bar{
    top: 50%;
    color: #999;
    font-size: 20px;
    pointer-events: none;
    transform: translateY(-50%);
    position: absolute;
  }
  .search i{
    right: 15px;
  }

  .clear-search-bar{
    right:40px;
    pointer-events: auto;
    transition: opacity 0.3s;
    cursor: pointer;
  }


  .search input{
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    border-radius: 5px;
    padding-right:3.8rem;
    border: 1px solid #B3B3B3;
  }
  .search input:focus{
    padding-left: 42px;
    border: 2px solid #4285f4;
  }
  .search input::placeholder{
    color: #bfbfbf;
  }
  .content .options{
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
    margin-left:0px;
    padding:0px
  }
  .options::-webkit-scrollbar{
    width: 7px;
  }
  .options::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 25px;
  }
  .options::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 25px;
  }
  .options::-webkit-scrollbar-thumb:hover{
    background: #b3b3b3;
  }
  .option {
    height: 40px;
    padding: 5px;
    font-size: 1rem;
   
  }
  .option:hover, .option.selected{
    border-radius: 5px;
    background:$yellow;
    color:black;
  }

  .selected {
    background-color:$yellow; /* Set your desired background color */
    font-weight: bold; /* Set your desired font weight */
}

#clearSearchButton{
    display:none;
    font-size: 1rem;
    align-self: center;
    padding-right: 1rem;

}

