
  @import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
  /*font-family: 'Anton', sans-serif;
  font-family: 'Manrope', sans-serif;
  */
  body{
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
  }

  h1,h2,h3,h4,h5,h6,#tagline{
    font-family: 'Anton', sans-serif;
  }

  #tagline{
    font-size: 2.75rem;

  }

  .ingredient{
    font-weight: 700;
  }
